
<!DOCTYPE html>
<html>
    <head>
        <title>Madlibs</title>
        
        <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
        <meta charset='utf-8'>
    </head>
    <body>
        <h1>Here is your Madlib:</h1>
        <p>
            In the secretive world of the '@Model.Nouns[0]' cult, led by the enigmatic leader '@Model.Nouns[1]', followers were encouraged to @Model.Verbs[0] and @Model.Verbs[1] in pursuit of @Model.Adjectives[0] enlightenment. The members lived a @Model.Adjectives[1] existence, with unwavering loyalty to their leader, @Model.Nouns[2], who @Model.Adverbs[0] controlled every aspect of their lives.
        </p>
    </body>