<!DOCTYPE html>
<html>
    <head>
        <title>Mean Girls Madlibs</title>
        <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
        <meta charset='utf-8'>
    </head>
    <body>
        <h1>Straight Out of the Burn Book:</h1>
        <p>
            In the high school jungle of North Shore, the @Model.Adjectives[0] Plastics ruled with their @Model.Adverbs[0] styled hair and @Model.Adjectives[1] gossip. They would @Model.Verbs[0] and @Model.Verbs[1] their way to popularity while making everyone else feel like @Model.Nouns[0]. On Wednesdays, @Model.Nouns[2] wore @Model.Nouns[1].
        </p>
    </body>
</html>