<!DOCTYPE html>
<html>
    <head>
        <title>Madlibs</title>
        <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
        <meta charset='utf-8'>
    </head>
    <body>
        <h1>Here is your Madlib:</h1>
        @* <p>
            The @Model.Adjective @Model.Noun @Model.Verb so @Model.Adverb.
        </p> *@
        <p>
            Once upon a time in a mystical land, a young @Model.Adjectives[0] wizard named @Model.Nouns[2] embarked on a magical journey. With his @Model.Adjectives[1] hat and @Model.Adverbs[0] new wand, @Model.Nouns[2] learned to @Model.Verbs[0] and @Model.Verbs[1] with great power. Along the way, he encountered a wise @Model.Nouns[0] and a mischievous @Model.Nouns[1], both of whom taught him valuable lessons in the ways of magic.
        </p>
    </body>
</html>